## .notmuch-config :: Configuration file for the notmuch mail system :: obfuscated-keisenberg-k2e


#
## Directive :: Database configuration

[database]

# Path to notmuch database :: Stored as .notmuch
path = {{ .chezmoi.homedir }}/.mail/obfuscated-keisenberg-k2e


#
## Directive :: "notmuch new" configuration

[new]

# List of tags (seperated by ;) added to all messages incorporated by "notmuch new"
tags=

# List of file and directory names that will not be searched for messages by "notmuch new"
ignore = .mbsyncstate;.mbsyncstate.journal;.mbsyncstate.lock;.mbsyncstate.new;.uidvalidity


#
## Directive :: Search configuration

[search]

# List of tags (seperated by ;) that will be excluded from search results by default :: Using an excluded tag in a query will override that exclusion
exclude_tags = deleted;


#
## Directive :: Maildir compatibility configuration

[maildir]

# Synchronize maildir flags (in message flags) :: draft/flagged/passed/replied/unread
synchronize_flags = true


#
## Directives :: Indexing

[index]

# Policy for decrypting encrypted messages during indexing
decrypt = nostash

# vi: filetype=config
